# 第6章: 機械学習
## 50. データの入手・整形Permalink
News Aggregator Data Setをダウンロードし、以下の要領で学習データ（train.txt），検証データ（valid.txt），評価データ（test.txt）を作成せよ．

1.ダウンロードしたzipファイルを解凍し，readme.txtの説明を読む.  
2.情報源（publisher）が”Reuters”, “Huffington Post”, “Businessweek”, “Contactmusic.com”, “Daily Mail”の事例（記事）のみを抽出する.  
3.抽出された事例をランダムに並び替える.  
4.抽出された事例の80%を学習データ，残りの10%ずつを検証データと評価データに分割し，それぞれtrain.txt，valid.txt，test.txtというファイル名で保存する．ファイルには，１行に１事例を書き出すこととし，カテゴリ名と記事見出しのタブ区切り形式とせよ（このファイルは後に問題70で再利用する）.  
学習データと評価データを作成したら，各カテゴリの事例数を確認せよ．

In [22]:
import pandas as pd
news_data = pd.read_csv("./NewsAggregatorDataset/newsCorpora.csv", header=None, sep="\t", names=["ID", "TITLE", "URL", "PUBLISHER", "CATEGORY", "STORY", "HOSTNAME", "TIMESTAMP"])

In [23]:
news_data.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371550
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027

In [24]:
news_data = news_data[news_data['PUBLISHER'].isin(['Reuters', 'Huffington Post', 'Businessweek', 'Contactmusic.com', 'Daily Mail'])]

In [25]:
news_data.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
12,13,Europe reaches crunch point on banking union,http://in.reuters.com/article/2014/03/10/eu-ba...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501755
13,14,ECB FOCUS-Stronger euro drowns out ECB's messa...,http://in.reuters.com/article/2014/03/10/ecb-p...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501948
19,20,"Euro Anxieties Wane as Bunds Top Treasuries, S...",http://www.businessweek.com/news/2014-03-10/ge...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503148
20,21,Noyer Says Strong Euro Creates Unwarranted Eco...,http://www.businessweek.com/news/2014-03-10/no...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503366
29,30,REFILE-Bad loan triggers key feature in ECB ba...,http://in.reuters.com/article/2014/03/10/euroz...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470505070

In [26]:
random_data = news_data.sample(frac=1, random_state=0)

In [27]:
random_data.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
310638,311098,RPT-Fitch Updates EMEA Consumer ABS Rating Cri...,http://in.reuters.com/article/2014/06/24/fitch...,Reuters,b,d3tIMfB2mg-9MZM4G_jGTEiRVl3jM,in.reuters.com,1403633888597
49197,49198,"Gurlitt Wants to Return Nazi-Looted Art, Suedd...",http://www.businessweek.com/news/2014-03-26/gu...,Businessweek,e,dWeC4g3bvX-bI6MKAcxt43Jp7MzSM,www.businessweek.com,1395886231417
410059,410578,"UPDATE 1-Fairfax Financial, CEO probed over po...",http://in.reuters.com/article/2014/08/01/fairf...,Reuters,b,d6s61cXf9rASExMO8inpkRujc9VTM,in.reuters.com,1406929609070
270222,270668,Angelina Jolie - Angelina Jolie Will Not Tight...,http://www.contactmusic.com/story/angelina-jol...,Contactmusic.com,e,d7SbUKanRaD34YMwE64lo09d_qCnM,www.contactmusic.com,1401828902205
301196,301656,Patent Officials Cancel the Washington Redskin...,http://www.businessweek.com/articles/2014-06-1...,Businessweek,b,dXVU3KhKpHSxleMNmc46pQj6e5zwM,www.businessweek.com,1403113194649

In [28]:
random_data = random_data.loc[:,["TITLE", "CATEGORY"]]

In [29]:
random_data.head()

                                                    TITLE CATEGORY
310638  RPT-Fitch Updates EMEA Consumer ABS Rating Cri...        b
49197   Gurlitt Wants to Return Nazi-Looted Art, Suedd...        e
410059  UPDATE 1-Fairfax Financial, CEO probed over po...        b
270222  Angelina Jolie - Angelina Jolie Will Not Tight...        e
301196  Patent Officials Cancel the Washington Redskin...        b

In [30]:
from sklearn.model_selection import train_test_split
train_data, test_valid = train_test_split(random_data, test_size=0.2)
test_data, valid_data = train_test_split(test_valid, test_size=0.5)

In [31]:
print('【学習データ】')
print(train_data['CATEGORY'].value_counts())
print('【検証データ】')
print(valid_data['CATEGORY'].value_counts())
print('【評価データ】')
print(test_data['CATEGORY'].value_counts())

【学習データ】
b    4500
e    4218
t    1218
m     736
Name: CATEGORY, dtype: int64
【検証データ】
b    543
e    519
t    176
m     96
Name: CATEGORY, dtype: int64
【評価データ】
b    584
e    542
t    130
m     78
Name: CATEGORY, dtype: int64

## 51.特徴量抽出
学習データ，検証データ，評価データから特徴量を抽出し，それぞれtrain.feature.txt，valid.feature.txt，test.feature.txtというファイル名で保存せよ.  
なお，カテゴリ分類に有用そうな特徴量は各自で自由に設計せよ．記事の見出しを単語列に変換したものが最低限のベースラインとなるであろう．

In [32]:
#"TITLE"についてTF-IDFを計算する.

import string
import re

#テキストの前処理
def preprocessing(text):
    table = str.maketrans(string.punctuation, ' '*len(string.punctuation))
    text = text.translate(table)  # 記号をスペースに置換
    text = text.lower()  # 小文字化
    text = re.sub('[0-9]+', '0', text)  # 数字列を0に置換
    
    return text

In [35]:
concat_data = pd.concat([train_data, valid_data, test_data], axis=0)
concat_data.reset_index(drop=True, inplace=True)  # indexを振りなおす

concat_data['TITLE'] = concat_data['TITLE'].map(lambda x: preprocessing(x))

concat_data.head()

                                               TITLE CATEGORY
0  time for  transformers  age of extinction  to ...        e
1  your honey probably isn t  honey   and the fda...        m
2  update 0 google still a top pick for wall st  ...        b
3  cnh tracker offshore yuan deposits to pick up ...        b
4  markit manufacturing index in us increases to ...        b

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

train_valid = concat_data[:len(train_data) + len(valid_data)]
test = concat_data[len(train_data) + len(valid_data):]

# TfidfVectorizer
vec_tfidf = TfidfVectorizer(min_df=10, ngram_range=(1, 2))  # ngram_rangeでTF-IDFを計算する単語の長さを指定

vec_train_valid = vec_tfidf.fit_transform(train_valid['TITLE'])   #トレーニングデータは大きいからfit_transform
vec_test = vec_tfidf.transform(test['TITLE'])     #テストデータはtransform()

# ベクトルをデータフレームに変換
vec_train_valid = pd.DataFrame(vec_train_valid.toarray(), columns=vec_tfidf.get_feature_names())
vec_test = pd.DataFrame(vec_test.toarray(), columns=vec_tfidf.get_feature_names())

vec_train = vec_train_valid[:len(train_data)]
vec_valid = vec_train_valid[len(train_data):]

vec_train.to_csv('./vec_train.txt', sep='\t', index=False)
vec_valid.to_csv('./vec_valid.txt', sep='\t', index=False)
vec_test.to_csv('./vec_test.txt', sep='\t', index=False)

vec_train.head()

,0k,0m,0million,0nd,0s,0st,0th,0th birthday,aa,aaliyah,...,you to,young,your,your mother,yr,yuan,zac,zac efron,zendaya,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.255002,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.449213,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

## 52.学習
51で構築した学習データを用いて，ロジスティック回帰モデルを学習せよ．

In [42]:
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(max_iter=1000)
lg.fit(vec_train, train_data['CATEGORY'])

LogisticRegression(max_iter=1000)

## 53.予測
52で学習したロジスティック回帰モデルを用い，与えられた記事見出しからカテゴリとその予測確率を計算するプログラムを実装せよ．

In [44]:
import numpy as np

def predict_lg(lg, vec):
    return [np.max(lg.predict_proba(vec), axis=1), lg.predict(vec)]

In [45]:
train_pred = predict_lg(lg, vec_train)
test_pred = predict_lg(lg, vec_test)

print(train_pred)

[array([0.70147944, 0.40079516, 0.52370166, ..., 0.65430462, 0.92526921,
       0.86348678]), array(['e', 'm', 'b', ..., 'm', 'b', 'b'], dtype=object)]

## 54.正解率の計測
52で学習したロジスティック回帰モデルの正解率を，学習データおよび評価データ上で計測せよ．

In [46]:
from sklearn.metrics import accuracy_score

train_acc = accuracy_score(train_data['CATEGORY'], train_pred[1])
test_acc = accuracy_score(test_data['CATEGORY'], test_pred[1])
print(f'正解率（学習データ）：{train_acc:.3f}')
print(f'正解率（評価データ）：{test_acc:.3f}')

正解率（学習データ）：0.928
正解率（評価データ）：0.890